In [1]:
tuple = (1,1.32,'shun')
print(tuple)

(1, 1.32, 'shun')

In [2]:
lis = [1,1.32,2,'cuc']
print(lis)

[1, 1.32, 2, 'cuc']

In [3]:
mylist=[1.2,3,4,9,0]
print(sorted(mylist))

[0, 1.2, 3, 4, 9]

In [4]:
score_list = [100,95,78,93,89]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[100, 95, 78, 93, 89]
93
[100, 95, 78, 93, 89, 50]

In [5]:
score_list.append([1,2,3,'cucu',True])
print(score_list)

[100, 95, 78, 93, 89, 50, [1, 2, 3, 'cucu', True]]

In [6]:
list2=[11,22,66]
list2.append([33,99,30])
score_list.append(list2)
print(score_list)

[100, 95, 78, 93, 89, 50, [1, 2, 3, 'cucu', True], [11, 22, 66, [33, 99, 30]]]

In [7]:
score_list.remove(95)
print(score_list)

[100, 78, 93, 89, 50, [1, 2, 3, 'cucu', True], [11, 22, 66, [33, 99, 30]]]

In [8]:
dic={'pet':20,'dog':30,'mary':50}
print(dic.keys())
print(dic.values())
print(dic['pet'])

dict_keys(['pet', 'dog', 'mary'])
dict_values([20, 30, 50])
20

In [9]:
lis=[]
lis.append(dic)
print(lis)

[{'pet': 20, 'dog': 30, 'mary': 50}]

In [11]:
test={'pet':20,'dog':40,'mary':60}
lis.append(test)
print(lis)

[{'pet': 20, 'dog': 30, 'mary': 50}, {'pet': 20, 'dog': 40, 'mary': 60}]

In [12]:
my={1,'nisrb',(1,3,6)}
print(my)
print(type(my))

{'nisrb', (1, 3, 6), 1}
<class 'set'>

In [15]:
lis0=[30,40,50,60]
lis1=[67,45,64,34]
lis2=['joon','keoi','mary','juen']
free=[]
for num in range(len(lis2)):
    hrs=lis0[num]
    year=lis1[num]
    fee=hrs*year
    free.append(fee)
    money_made=lis2[num]+' makes '+str(fee)+'.'
    print(money_made)

joon makes 2010.
keoi makes 1800.
mary makes 3200.
juen makes 2040.

In [17]:
my_lis=[]
my_lis.append(lis2)
my_lis.append(free)
me=['red','blue','green','yellow','black']
index=0
for i in me:
    if i=='blue':
        print(index,'blue is printed')
        index+=1
    else:
        print(index,me[index])
        index+=1
print('this is done')

0 red
1 blue is printed
2 green
3 yellow
4 black
this is done

In [18]:
import pandas as pd
df1=pd.DataFrame({
    "Product ID":[1,2,3,4],
    "Product NAME":["T-shirt","Shirt","Jeans","Coat"],
    "Color":["Blue","Green","Red","Trench"],
    "Units sold":[250,300,180,200]
})
print(df1)

   Product ID Product NAME   Color  Units sold
0           1      T-shirt    Blue         250
1           2        Shirt   Green         300
2           3        Jeans     Red         180
3           4         Coat  Trench         200